In [1]:
print('hello')

hello

In [2]:
print('new')

new

This is sample markdown

In [1]:
1+2

3

We will learn about basic datatypes now

In [1]:
2+1

3

In [2]:
2*2

4

3/2

Modulo operator

In [5]:
3%2

1

In [6]:
4%2

0

In [7]:
2 ** 3

8

In [8]:
2 + 10*10 + 3

105

In [9]:
0.1+0.2-0.3

5.551115123125783e-17

In [10]:
a = 10

In [11]:
a

10

In [12]:
a + a

20

In [13]:
a

10

In [14]:
a = a + a

In [15]:
a

20

In [16]:
type(a)

int

In [17]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

print (my_taxes)

10.0

<b> Strings <b>

In [18]:
'hello'

'hello'

In [19]:
"hello"

'hello'

In [21]:
" I'm going to run"

" I'm going to run"

In [23]:
print ('hello world one')
print ('hello world two')

hello world one
hello world two

In [25]:
print ('hello \tworld')

hello 	world

<b>String Indexing and Slicing<b>

In [42]:
my_string = 'Hello World'

In [27]:
my_string

'Hello World'

In [28]:
my_string[0]

'H'

In [29]:
my_string[1:5]

'ello'

In [30]:
my_string[1:5:2]

'el'

In [31]:
len(my_string)

11

In [32]:
my_string[-1]

'd'

In [33]:
my_string[-10]

'e'

In [43]:
my_string[-11]

'H'

In [35]:
my_string[0]

'H'

In [44]:
my_string='abcdefijk'

In [40]:
# Slice the String from c and print all the way up to the end
my_string[2:]

'cdefijk'

In [38]:
my_string

'abcdefijk'

In [39]:
# Print up to c, the stop index should of d because it does not include d
my_string[:3]

'abc'

In [45]:
my_string

'abcdefijk'

In [48]:
#Step Size
my_string[::2]

'aceik'

In [49]:
#Reverse a string
my_string[::-1]

'kjifedcba'

In [50]:
name = "Sam"

In [51]:
name

'Sam'

In [52]:
# String Immutability. The below should result in error because strings do not support item assignment
name [0] = 'P'

TypeError: 'str' object does not support item assignment

In [53]:
last_letters = name [1:]

In [54]:
last_letters

'am'

In [55]:
'P' + last_letters

'Pam'

In [56]:
x = "Hello World"

In [57]:
#String concatenation
x + ' It is beautiful outside!'

'Hello World It is beautiful outside!'

In [60]:
x = x + ' It is beautiful outside!'

In [61]:
x

'Hello World It is beautiful outside! It is beautiful outside!'

In [63]:
# String multiplication
letter = 'z'
letter = letter * 10
print (letter)

zzzzzzzzzz

In [72]:
# String properties
x = 'Hello World'

In [69]:
x.upper()

'HELLO WORLD'

In [70]:
x.lower()

'hello world'

In [71]:
x.capitalize()

'Hello world'

In [73]:
x.split()

['Hello', 'World']

In [74]:
x = 'this is a string'

In [75]:
x.split()

['this', 'is', 'a', 'string']

In [76]:
x.split('i')

['th', 's ', 's a str', 'ng']

<b> String Formatting <b>
There are two format methods - .format and f-strings
<b> First Let's see the .format method <b>

In [91]:
#print ('The string is {}'.format ('INSERTED'))
#print ('The {} {} {}'.format ('fox','brown','quick'))
#print ('The {2} {1} {0}'.format ('fox','brown','quick'))
#print ('The {q} {b} {f}'.format (f='fox',b='brown',q='quick'))
#print ('The {q} {b} {f}'.format (f='fox',b='brown',q='quick'))

The quick brown fox

In [93]:
#Float formatting follows "{value:width.precision f}"
#result = 100/777
#print ('The result was {r:1.3f}'.format (r=result))

# Here width = 1
#print ('{r:1.3f}'.format(r=result))

# Change the width
print ('The result was : {r:10.3f}'.format(r=result))

The result was :      0.129

In [96]:
# Usage of f-strings
name = "Niladri"

#.format() method
#print ('The name is {}'.format(name))

# f-String method
print (f'The name is {name}')

The name is Niladri

In [97]:
# Another f-strings example
name = "Niladri"
age = 39

print (f'{name} is {age} years old')

Niladri is 39 years old

<b>Lists in Python</b>

In [98]:
mylist = ['STRING',100,203.42]

In [105]:
mylist

['STRING', 100, 203.42]

In [100]:
mylist[0]

'STRING'

In [101]:
another_list = ['four','five']

In [102]:
mylist + another_list

['STRING', 100, 203.42, 'four', 'five']

In [103]:
len (mylist)

3

In [104]:
len (mylist + another_list)

5

In [106]:
# mutate a list item
mylist[0] = 'ONE'

In [107]:
mylist

['ONE', 100, 203.42]

In [109]:
# Add item to a list using append
mylist.append ('four')

In [110]:
mylist

['ONE', 100, 203.42, 'four']

In [111]:
# Remove item from list
mylist.pop()

'four'

In [118]:
mylist

['ONE', 203.42, 9]

In [119]:
mylist.pop(1)

203.42

In [121]:
mylist

['ONE', 9]

In [123]:
#Sort List
mylist = ['a','x','h','c']
numlist = [0,8,4,3]
mylist.sort()
numlist.sort()

In [124]:
mylist

['a', 'c', 'h', 'x']

In [125]:
numlist

[0, 3, 4, 8]

<b> Tuples <b>

In [1]:
t = (1,2,3)

In [2]:
type (t)

tuple

In [3]:
mylist = [1,2,3]

In [4]:
type (mylist)

list

In [5]:
len (t)

3

In [6]:
len (mylist)

3

In [7]:
t

(1, 2, 3)

In [8]:
mylist

[1, 2, 3]

In [9]:
t[0]

1

In [10]:
t[-1]

3

In [11]:
t[1:]

(2, 3)

In [19]:
# Index and count method of tuple
t = ('a','a','b')
print ('No of count of a in the tuple : '+ str (t.count('a')))
print ('The first occurrence of a in the tuple : '+ str (t.index('a')))

No of count of a in the tuple : 2
The first occurrence of a in the tuple : 0

In [20]:
del t

In [21]:
t = ('a','b','c')
for x in t:
    print (x)

a
b
c

In [22]:
t

('a', 'b', 'c')

In [23]:
print (t[1])

b

In [24]:
if 'a' in t:
    print ('Yes')

Yes

In [25]:
t

('a', 'b', 'c')

In [26]:
mylist = [0,1,2]

In [27]:
mylist

[0, 1, 2]

In [28]:
# immutability of tuple
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [29]:
#whereas the list can be modified
mylist [0] = 'NEW'

In [30]:
mylist

['NEW', 1, 2]

<b> Sets <b>

In [1]:
# Sets are unique collection of unordered objects
myset = set ()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add (2)

In [6]:
myset

{1, 2}

In [7]:
myset.add(2)

In [8]:
myset

{1, 2}

In [9]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [10]:
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [11]:
set(mylist)

{1, 2, 3}

<b> Booleans <b>

In [12]:
True

True

In [13]:
False

False

In [14]:
type (True)

bool

In [15]:
type (False)

bool

In [16]:
1 > 2

False

In [17]:
1 == 1

True

In [18]:
b = None

In [19]:
type (b)

NoneType

In [20]:
set ([1,1,2,3])

{1, 2, 3}

In [21]:
pwd

'C:\\Users\\Niladri Banerjee\\Desktop\\Python'

<b> Files <b>

In [36]:
%%writefile myfile.txt
This is 1st line
This is 2nd line
This is 3rd line

Overwriting myfile.txt

In [37]:
mycontents = open ('myfile.txt')
mycontents.read()

'This is 1st line\nThis is 2nd line\nThis is 3rd line'

In [38]:
mycontents.seek(0)

0

In [25]:
mycontents.read()

'This is 1st line\nThis is 2nd line\nThis is 3rd line'

In [26]:
mycontents.seek(0)

0

In [27]:
mycontents.readlines()

['This is 1st line\n', 'This is 2nd line\n', 'This is 3rd line']

In [28]:
mycontents.seek(0)

0

In [29]:
mycontents.readline()

'This is 1st line\n'

In [30]:
mycontents.readline()

'This is 2nd line\n'

In [31]:
mycontents.readline()

'This is 3rd line'

In [32]:
mycontents.seek(0)

0

In [33]:
mycontents.close()

In [34]:
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.readlines ()

In [35]:
contents

['This is 1st line\n', 'This is 2nd line\n', 'This is 3rd line']

In [50]:
with open ('myfile.txt', mode = 'r') as f:
    print (f.read())

ONE ON 1
TWO ON 2
THREE ON 3
FOUR ON 4

In [45]:
with open ('myfile.txt', mode = 'w') as f:
    f.write ('ONE ON 1')
    f.write ('\nTWO ON 2')
    f.write ('\nTHREE ON 3')

In [49]:
with open ('myfile.txt', mode = 'a') as f:
    f.write ('\nFOUR ON 4')

In [52]:
x = open ('test.txt', mode = 'w')
x.write('Hello World')
x.close()

In [1]:
# Logical Operators
1 < 2 and 2 < 3

True

In [4]:
1 > 2 or 3 > 2

True

In [5]:
not 400 > 5000

True

<b> Comparison operators <b>

In [9]:
hungry = True

if hungry:
    print ('Feed me!')
else:
    print ("I am not hungry")

Feed me!

<b> For Loops <b>

In [11]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for x in mylist:
    # Check if it is even
    if x % 2 == 0:
        print (f'Even Number : {x}')
    else:
        print (f' Odd Number : {x}')

 Odd Number : 1
Even Number : 2
 Odd Number : 3
Even Number : 4
 Odd Number : 5
Even Number : 6
 Odd Number : 7
Even Number : 8
 Odd Number : 9
Even Number : 10

In [13]:
list_sum = 0

for x in mylist:
    list_sum = list_sum + x
    print (list_sum)

1
3
6
10
15
21
28
36
45
55

In [14]:
# Strings are also iterable
mystring = 'Hello World'

for letter in mystring:
    print (letter)

H
e
l
l
o

W
o
r
l
d

<b> Tuples and Packing <b>

In [15]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [17]:
for a,b in mylist:
    print (a)

1
3
5
7

In [25]:
d = {'k1':1,'k2':2,'k3':3}

for x,y in d.items():
    print(y)

1
2
3

<b> While Loop <b>

In [26]:
x = 0

while x < 5:
    print (f'The current value of x is : {x}')
    x = x+1
else:
    print ('We are out')

The current value of x is : 0
The current value of x is : 1
The current value of x is : 2
The current value of x is : 3
The current value of x is : 4
We are out

<b> break, continue, pass <b>

In [28]:
# Use of pass
x = [1,2,3]

for num in x:
    #print (num)
    pass

print ('Nothing is done in the for loop')

Nothing is done in the for loop

In [31]:
# break statement
x = [1,2,3,4,5,6]

for num in x:
    if num == 4:
        break
    print (f'The number is {num}')

print ('Loop broken')

The number is 1
The number is 2
The number is 3
Loop broken

In [32]:
# Continue statement

x = [1,2,3,4,5,6]

for num in x:
    if num == 4:
        continue
    print (f'The number is {num}')

The number is 1
The number is 2
The number is 3
The number is 5
The number is 6

<b> range () function
range is a generator which generates values and not save them in memory <b>

In [35]:
for num in range (0,11,2):
    print (num)

0
2
4
6
8
10

<b> Enumerate <b>

In [38]:
index_count = 0

word = 'abcde'

for letter in word:
    print ('The index count is {} and the letter is {}'.format(index_count,letter))
    index_count += 1

The index count is 0 and the letter is a
The index count is 1 and the letter is b
The index count is 2 and the letter is c
The index count is 3 and the letter is d
The index count is 4 and the letter is e

In [39]:
word = 'abcde'

for item in enumerate(word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [40]:
word = 'abcde'

for index,letter in enumerate(word):
    print (f'Index : {index}    Letter : {letter}')

Index : 0    Letter : a
Index : 1    Letter : b
Index : 2    Letter : c
Index : 3    Letter : d
Index : 4    Letter : e

<b> Zip function <b>

In [41]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [42]:
zip (mylist1,mylist2)

In [43]:
for item in zip(mylist1,mylist2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')

In [44]:
list (zip (mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [45]:
for x,y in zip(mylist1,mylist2):
    print (y)

a
b
c

In [46]:
2 in [1,2,3]

True

In [47]:
'x' in ['a','b','c']

False

In [48]:
# min function
mylist = [1,2,3]
min(mylist)

1

In [49]:
# max function
mylist = [10,20,30,100,40]
max(mylist)

100

In [50]:
# import function from library
from random import shuffle
shuffle(mylist)

In [51]:
mylist

[30, 40, 20, 100, 10]

In [52]:
# randint
from random import randint
random_num = randint (0,1000)
print (random_num)

329

In [53]:
random_num = randint (0,1000)
print (random_num)

594

In [54]:
input ('What is your name? ')

What is your name? Niladri

'Niladri'

In [55]:
name = input ('What is your name?')

What is your name?Niladri

In [56]:
name

'Niladri'

<b> List Comprehensions <b>

In [57]:
mylist = []
word = 'Hello'
for letter in word:
    mylist.append(letter)
mylist

['H', 'e', 'l', 'l', 'o']

In [58]:
# List Comprehension
mylist = [letter for letter in word]
mylist

['H', 'e', 'l', 'l', 'o']

In [61]:
# Another example
mylist = [x for x in range(1,10)]

In [62]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [64]:
celcius = [0,10,20,34.5,40,42]
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp+32)
fahrenheit

[32.0, 50.0, 68.0, 94.1, 104.0, 107.60000000000001]

In [65]:
fahrenheit = [((9/5)*temp+32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1, 104.0, 107.60000000000001]

In [71]:
st = 'Print only the words that start with s in this sentence'
result = st.split()
for word in result:
    for x in word[0]:
        if x == 's':
            print (word)

start
s
sentence

<b> Methods and Functions <b>

In [72]:
mylist = [1,2,3]

In [80]:
mylist.insert(4,50)

In [81]:
mylist

[1, 2, 3, 1, 50, 40]

In [77]:
help(mylist.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [88]:
def name_function ():
    '''
    DOCSTRING : Information about the function
    INPUT : No input
    OUTPUT : Prints Hello
    '''
    print ('Hello')

In [89]:
name_function()

Hello

In [90]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING : Information about the function
    INPUT : No input
    OUTPUT : Prints Hello

In [100]:
def say_hello(name = 'NAME'): 
    # Assigned default parameter NAME
    print ('hello '+name)

In [103]:
say_hello()

hello NAME

In [104]:
def add(n1,n2):
    return n1+n2

In [105]:
help(add)

Help on function add in module __main__:

add(n1, n2)

In [106]:
add(20,30)

50

In [107]:
result=add(20,40)
result

60

In [114]:
# Write a function find out the word if dog exists in a string
def dog_check (mystring):
    return 'dog' in mystring.lower()

In [115]:
dog_check ('My dog ran away')

True

<b> PIG LATIN <br>
    Rules <br>
    1. If word starts with a vowel, then add 'ay' at the end <br>
    2. If word does not start with a vowel, then first put the first letter at the end and then add 'ay'
<b>

In [116]:
def pig_latin(word):
    # Check if the first letter is vowel
    if word[0] in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + word[0] + 'ay'
    return pig_word

In [117]:
pig_latin ('apple')

'appleay'

In [118]:
pig_latin ('Niladri')

'iladriNay'

In [1]:
def is_even(a):
    return a%2==0

In [2]:
is_even(2)

True

<b> *args (any number of arguments) and **kwargs (Keyword arguments) <b>

In [5]:
def myfunc(a,b):
    #returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [6]:
myfunc(40,60)

5.0

In [7]:
# However if we try to call the function with more than 2 arguments, it will throw error
myfunc(40,60,100)

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [8]:
def myfunc(*args):
    return sum(args) * 0.05

In [9]:
myfunc(10)

0.5

In [10]:
myfunc(40,60,100,100,4)

15.200000000000001

In [13]:
# args create a tuple
def myfunc(*args):
    print (args)

In [14]:
myfunc(40,60,100,100,4)

(40, 60, 100, 100, 4)

In [19]:
# **kwargs takes dictionary
def myfunc(**kwargs):
    print (kwargs)
    if 'fruit' in kwargs:
        print ('My choice is fruit is {}'.format(kwargs['fruit']))
    else:
        print ('My choice of fruit is not there')

In [20]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My choice is fruit is apple

In [21]:
def myfunc(*args):
    return sum(args)

In [22]:
myfunc(40,60,100)

200

In [30]:
def myfunc(*args):
    mylist=[]
    for x in args:
        if x%2==0:
            mylist.append(x)
    return mylist

In [31]:
myfunc(2,3,4,5,6)

[2, 4, 6]

In [62]:
def myfunc(a):
    mystring =''
    for key,value in enumerate(a):
        if key%2==0:
            mystring = mystring + value.upper()
        else:
            mystring = mystring + value.lower()
    return mystring

In [63]:
myfunc('niladri banerjee')

'NiLaDrI BaNeRjEe'

In [44]:
for x in 'niladri':
    print (x)

n
i
l
a
d
r
i

In [66]:
def lesser_of_two_evens(a,b):
    #Check if both numbers are even
    if a%2==0 and b%2==0:
        return a if a<b else b
    else:
        return a if a>b else b

In [67]:
lesser_of_two_evens(2,4)

2

In [68]:
lesser_of_two_evens(2,3)

3

In [81]:
def animal_crackers(text):
    mystring=text.split()
    for key,value in enumerate(mystring):
        #print (str(key) + ': ' + str(value))
        if key == 0:
            _first = value[0]
        else:
            _second = value[0]
    return (_first == _second)

In [83]:
animal_crackers('Niladri Nanerjee')

True

In [88]:
def old_macdonald(name):
    mystring = ''
    for key,value in enumerate(name):
        if key==0 or key==3:
            mystring = mystring + value.upper()
        else:
            mystring = mystring + value.lower()
    return mystring

In [89]:
old_macdonald('niladri')

'NilAdri'

In [94]:
def master_yoda(text):
    mystring = text.split()
    print(" ".join(mystring[::-1]))

In [95]:
master_yoda('I am at home')

home at am I

In [96]:
def almost_there(n):
    return 90<=n<110 or 190<=n<=210

In [97]:
almost_there(90)

True

In [98]:
almost_there(104)

True

In [99]:
almost_there(150)

False

In [108]:
# has_33([1, 3, 3]) → True
# has_33([1, 3, 1, 3]) → False
# has_33([3, 1, 3]) → False
def has_33 (num):
    for i in range(0,len(num)-1):
         if (num[i] == 3 and num[i+1] == 3):
                return True
    return False

In [109]:
has_33([1, 3, 3])

True

In [110]:
has_33([1, 3, 1, 3])

False

In [111]:
has_33([3, 1, 3])

False

In [112]:
has_33([3,3,4])

True

In [123]:
def paper_doll(text):
    mystring = ''
    for letter in text:
        for three_count in range(1,4):
            mystring = mystring + letter
    return mystring

In [124]:
paper_doll('Hello')

'HHHeeellllllooo'

In [125]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'